$base-color: #626364;
$base-font-size: 15px;
$base-font-family: Arial, Helvetica, sans-serif;

$link-color: #19d5ca;
$link-color-hover: shade($link-color, 20%);

$border-color: rgba(0,0,0,0.5);
$error-color: #da0011;

$font-family-1: 'Segoe UI', cursive, "Myriad Pro", Arial, Helvetica, serif;
$font-family-2: Arial, Helvetica, sans-serif;

$base-background-color: rgb(232,235,237);
$base-alpha-color: rgba(0,0,0, 0.05);
$second-alpha-color: rgba(#fff, 1);


$sidebar-width: 280px;
$footer-height: 80px;

