.border-green-top {
  border-top: 11px solid #ba8a4a;
}

.border-brand-top {
  border-top: 11px solid $brand-primary;
}

.border-orange-top {
  border-top: 11px solid #812f2e;
}

.border-brand-bottom {
  border-bottom: 11px solid $brand-primary;
}


